@import url('https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap');

.about {
  width:100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", sans-serif;
  }
  
 
  
  .aboutBottom {
    display: flex;
    flex-direction: column;
    height: 55%;
    align-items: center;
    margin-top: 0px;
    background-color:black
    
  }
  
  .aboutBottom p {
    width: 1200px;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT",
  }
  
  .about .aboutBottom h1 {
    font-weight: 400;
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    transform: translateY(-40px);
    font: var(--fontSize)/200% 'Bilbo Swash Caps', cursive;
    font-size: 100px;
  }
  