@import url('https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap');

body{
  background-color: black;
}
.blog {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black; 
  
  }
  .blogs .blogTitle {
    font-family: "Gill Sans", sans-serif;
    font-size: 60px;
    color: white;
    font: var(--fontSize)/200% 'Bilbo Swash Caps', cursive;
    font-size: 100px;
  }
  
  .blogsList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  .blogImages{
    width:300px;
    height:300px;
    object-fit:cover;
  }
  
  /* BLOGS ITEM STYLING */
  
  .blogsItem {
    border-radius: 8px;
    width: 250px;
    height: 350px;
    padding: 20px;
    margin: 40px;
    border: 1px solid;
    color: white;
    font: var(--fontSize)/200% 'Bilbo Swash Caps', cursive;
    
  }

  .blogContainer button{
    background-color: black;
  }
  .blogsItem:hover {
    box-shadow: 0px 3px 15px #E0FF4F;
    transition: 0.4s ease-in;
    cursor: pointer;
  }
  
  .blogsItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .blogsItem h1,
  .blogsItem p {
    margin-left: 20px;
  }
  
  @media only screen and (max-width: 1300px) {
    .blogsList {
      grid-template-columns: 1fr 1fr;
    }
  
  
  }
  
  @media only screen and (max-width: 800px) {
    .blogsList {
      grid-template-columns: 1fr ;
    }
  
  }