@import url('https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap');

 .contact{
      color: white;
      font: var(--fontSize)/200% 'Bilbo Swash Caps', cursive;
      font-size: 60px;
      background-color: black;
    
    }
    p{
      font: var(--fontSize)/200% 'Bilbo Swash Caps', cursive;
      background-color: black;
    }